<?xml version="1.0" ?>
<robot name="endeffector">

<link name="base">
    <visual>
        <geometry>
				<mesh filename="endeffector_mesh/Gesamtaufbau.stl" scale="0.001 0.001 0.001"/>
        </geometry>
</visual>
</link>

<joint name="base_joint" type="fixed">
    <parent link="base"/>
    <child link="screwdriver"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
</joint>

<link name="screwdriver">
    <visual>
        <geometry>
                <mesh filename="endeffector_mesh/Schrauber.stl" scale="0.001 0.001 0.001"/>
        </geometry>
</visual>
</link>
<joint name="screwdriver_joint" type="fixed">
    <parent link="base"/>
    <child link="screw_tip"/>
    <origin rpy="0 0 0" xyz="0.089 -0.104 0.032"/>
</joint>

<link name="screw_tip">
<visual>
    <geometry>
     <sphere radius="0.001"/>
    </geometry>
</visual>
</link>


</robot>